.box {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.03);
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
  background-position: 0px -55px;
  background-repeat: no-repeat;
  padding-bottom: 1px;
  opacity: 1;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  width: 520px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h3 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #33747A;
}
.popup .content {
  max-height: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: auto;
  }
}
.iframe-wrap { width:100%; height:400px; -webkit-overflow-scrolling:touch; overflow-y:scroll } /* change the width + height */
.iframe-wrap iframe { width:auto; min-height:650px; 
}